<<<<<<< HEAD

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #d6eeee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container {
    width: 1100px;
    margin: 0 auto;
    border: 2px solid black;
}

h1 {color: #0520b4;
}

header{
    background-color: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px solid rgb(0, 0, 0);
}

nav {
    background-color: aqua;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid rgb(0, 0, 0);
}
nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;

}

.clearfix {
    clear: both;
}
#content {
    float: left;
    width: calc(80% - 80px);
    background-color: chartreuse;
    min-height: 500px;
    padding: 40px;
}

.article {
    color: white;
    margin: 15px 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.article:first-child {
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.article  h2 {
    font-size: 25px;
}

aside {
    float: left;
    width: calc(20% - 20px);
    background-color: chocolate;
    min-height: 500px;
    padding: 10px 10px 0px 10px;
}

footer {
height: 50px;
background-color: black;
color: white;
text-align: center;
line-height: 50px;
}
=======

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #d6eeee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container {
    width: 1100px;
    margin: 0 auto;
    border: 2px solid black;
}

h1 {color: #0520b4;
}

header{
    background-color: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px solid rgb(0, 0, 0);
}

nav {
    background-color: aqua;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid rgb(0, 0, 0);
}
nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;

}

.clearfix {
    clear: both;
}
#content {
    float: left;
    width: calc(80% - 80px);
    background-color: chartreuse;
    min-height: 500px;
    padding: 40px;
}

.article {
    color: white;
    margin: 15px 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.article:first-child {
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.article  h2 {
    font-size: 25px;
}

aside {
    float: left;
    width: calc(20% - 20px);
    background-color: chocolate;
    min-height: 500px;
    padding: 10px 10px 0px 10px;
}

footer {
height: 50px;
background-color: black;
color: white;
text-align: center;
line-height: 50px;
}
>>>>>>> a81cce33d5d6b5790f7e9ff68a4a4c46f5579861
