@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    display: flex;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

 .logo {
    color: #303030;
    font-size: 25px;
    font-weight: 800;
 }

 .menu .navbar ul li {
    position: relative;
    float: left;
 }

 .menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #303030;
    display: block;
    font-weight: 600;
 }

 #menu {
    display: none;
 }

 .menu-icono {
    width: 25px;
 }

 .menu label {
    cursor: pointer;
    display: none;
 }

  .bg {
    position: absolute;
    width: 700px;
    z-index: -1;
    right: 0;
} 

.esp {
    position: absolute;
    top: 700px;
    bottom: 0;
    width: 350px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-top: 100px;    
}

.header-txt {
    width: 50%;
    padding-right: 35px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #000;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.header-txt p {
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    background-color: #ff9f0d;
    padding: 15px 30px;
    border-radius: 25px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
    background-color: #ee9003;
}